<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>

	<!-- 1.修改mysql jar目录 -->
	<classPathEntry
		location="D:\MyLife\MavenPrivateRepository\mysql\mysql-connector-java\5.1.35\mysql-connector-java-5.1.35.jar" />

	<context id="context1" targetRuntime="MyBatis3">

		<!--<plugin type="org.mybatis.org.mybatis.generator.plugins.MySqlPaginationPlugin"/>-->

		<commentGenerator>
			<property name="suppressAllComments" value="true" />
		</commentGenerator>

		<!-- 2.修改mysql 数据源 -->
		<jdbcConnection driverClass="com.mysql.jdbc.Driver"

		connectionURL="jdbc:mysql://localhost:3306/databaseName"
						userId="root"
			password="123456" />

		<!-- 3.修改model、Dao、Mapper存放目录 -->
		<!--数据库表的对象模型位置-->
		<javaModelGenerator targetPackage="com.chuhui.xxx.model"
			targetProject="src/main/java" />

		<!--mapper文件的位置-->
		<sqlMapGenerator targetPackage="com.chuhui.xxxx.impl"
			targetProject="src/main/java" />

		<!--dao接口的位置-->
		<javaClientGenerator targetPackage="com.chuhui.xxxx.dao"
			targetProject="src/main/java" type="XMLMAPPER" />


		<!-- 4.填写表名和实体类名 -->
		<!--<table tableName="test" domainObjectName="Test" ></table>-->
		<table tableName="table_name" domainObjectName="TableName" enableCountByExample="false" enableDeleteByExample="false"
			   enableSelectByExample="false" enableUpdateByExample="false"></table>


	</context>
</generatorConfiguration>