<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chuhui.eldestbrother.dao.VerificationMsgInfoDao" >
  <resultMap id="BaseResultMap" type="com.chuhui.eldestbrother.model.VerificationMsgInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.chuhui.eldestbrother.model.VerificationMsgInfo" extends="BaseResultMap" >
    <result column="verification_msg" property="verificationMsg" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_time
  </sql>
  <sql id="Blob_Column_List" >
    verification_msg
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from eldest_brother_verification_msg_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from eldest_brother_verification_msg_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.chuhui.eldestbrother.model.VerificationMsgInfo" >
    insert into eldest_brother_verification_msg_info (id, create_time, verification_msg
      )
    values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{verificationMsg,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chuhui.eldestbrother.model.VerificationMsgInfo" >
    insert into eldest_brother_verification_msg_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="verificationMsg != null" >
        verification_msg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="verificationMsg != null" >
        #{verificationMsg,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chuhui.eldestbrother.model.VerificationMsgInfo" >
    update eldest_brother_verification_msg_info
    <set >
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="verificationMsg != null" >
        verification_msg = #{verificationMsg,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.chuhui.eldestbrother.model.VerificationMsgInfo" >
    update eldest_brother_verification_msg_info
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      verification_msg = #{verificationMsg,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chuhui.eldestbrother.model.VerificationMsgInfo" >
    update eldest_brother_verification_msg_info
    set create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>